body {
    background-image: linear-gradient(to bottom, var(--tw-gradient-stops));
    --tw-gradient-from: #dbeafe;
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to, rgba(254, 226, 226, 0));
    --tw-gradient-to: #e4e4e7;
}

@media (prefers-color-scheme: dark) {
    body {
        --tw-gradient-from: #18181b;
        --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to, rgba(24, 24, 27, 0));
        --tw-gradient-to: #18181b;
    }
}